.diet{
    display:flex;
    padding-left: 50px;
    
}
.diet h1
{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    
}
.diet p
{
    font-size: 30px;
    margin-bottom: 20px;
    
}
#anchoring-1
{
    text-decoration: none;
    background-image:linear-gradient(orange,tomato);
    
    padding:15px 10px;
    border-radius:5px;
    
}
section
{
    margin-bottom:50px ;
}
.image-2
{
    margin-left: 20px;
    margin-right: 100px;
}
#contact
{
    color:white;
    height:50px;
    width:150px;
    background-image:linear-gradient(orange, tomato);
    border-radius: 10px;
    box-shadow: 0px 10px 10px gray;
    font-size: 20px;
}
.display-1
{
    display:flex;
    
    width:50%;
    margin:auto; 
    
}
.about-me
{
    background-image: url('food-network-main/images/shapes/7.png');
    background-repeat: no-repeat;
    background-size:cover;
    height:500px
    
}
.div-2 h1
{
font-size: 50px;
}
.div-2 p
{
    font-size:20px;
}